.cardContainer {
  display: flex;
  width: 80vw;
}

.mainImageContainer {
  display: flex;
  width: 100%;
}

.sideImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 1px solid red;
}

.mainImage {
  object-fit: contain;
  background-color: black;
  width: 100%;
  height: 350px;
}

.sideImage {
  /* cursor: pointer; */
  opacity: .8;
  object-fit: contain;
  width: 100%;
  height: 50%;
  background-color: green;
}


  
  .sideImage:hover {
  opacity: 1;
  box-shadow: 2px 2px 2px rgb(27, 27, 27);
  transition-duration: 1s;
  transform:scale(1.1);
}

.sideImage, img {
  cursor: pointer;

  border: 1px red solid;
}

.arrow {
  /* cursor: pointer; */
  opacity: .7;
  position: absolute;
  font-size: 8vw;
}

