.cardContainer {
  display: flex;
  width: 80vw;
}

.mainImageContainer {
  display: flex;
  width: 100%;
}

.sideImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* border: 1px solid red; */
  /* height: 30%; */
  background-color: black;
}

.mainImage {
  object-fit: contain;
  background-color: black;
  width: 100%;
  height: 70vh;
}

.sideImage {
  /* cursor: pointer; */
  opacity: .8;
  object-fit: contain;
  width: 100%;
  /* height: 100%; */
  height: 40%;
  /* background-color: green; */
}

.arrow {
  /* cursor: pointer; */
  opacity: .7;
  position: absolute;
  font-size: 8vw;
  z-index:  10;
}

#sideImageHover {
  visibility: none;
  opacity: 1;
  transition-duration: 1s;
  transform:scale(1.1);
}

.arrowHover {
  visibility: none;
  transition-duration: 1s;
  transform:scale(1.1);
}
